*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{
    background-color: #333;
    text-align: center;
    color: aliceblue;
}

p{
    margin-top: 20px;
}

main{
    
    width: 800px;
    height: 500px;
    border: 1px solid white;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
   
}

h1{
    position: absolute;
    top:10px;
    right: 50px;
    z-index: 2;
    color: aliceblue;
}

.mostraPlacar{
    display: none;
}

.placar{
    position: absolute;
    top:50px;
    right: 50px;
    z-index: 2;
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
}

.musica{
    width: 100px;
    position: absolute;
    top:120px;
    right: 50px;
    z-index: 3;
}

.jumpbtn{
    width: 80px;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 3;
    display: none;
}

.jumpbtn:hover{
    transform: scale(1.2);
}

.pokeball{
    position: absolute;
    top:60px;
    right: 110px;
    z-index: 2;
    width: 50px;
}
.bg-inicial{
    position: absolute;
    height: 110%;
    animation: rolafundo 6s infinite linear;
    z-index: 1;
    top: -5px;
    //right: -80px;
}


.pikainicio{
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
.pikachu{
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    display:none;
    
}

.jump{
    animation: jump 1.2s ease-in-out;
}

.logo{
    width: 600px;
    position: absolute;
    top: 10;
    right: 60px;
    z-index: 2;
}

.pokemon{
    width: 120px;
    max-height: 180px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    //left:120px;
    //right: 800px;
    animation: pokemon 3s infinite linear;
    display:none;
}

.gameover{
    position: absolute;
    top: 100px;
    right: 250px;
    z-index: 2;
    width: 300px;
    opacity: 0;
}

.gameoveranimation{
    animation: gameover 5s;
}

#iniciar{
    position: absolute;
    top: 300px;
    right: 350px;
    border: none;
    z-index: 2;
    border-radius: 15px;
    color: black;
    background-color:yellow;
    padding: 15px;
    font-weight: bold;
}


#reiniciar{
    position: absolute;
    top: 300px;
    right: 350px;
    border: none;
    z-index: 2;
    border-radius: 15px;
    color: black;
    background-color:yellow;
    padding: 15px;
    font-weight: bold;
    display: none;
}



#reiniciar,#iniciar:hover{
    background-color: rgb(132, 77, 38);
    color: white;
}

@keyframes gameover{
    from{
        opacity: 0;
       
    }
    to{
        opacity: 1;
    }
}

@keyframes rolafundo{
    from{
        right:-1800px;
    }

    to{
        right:-50px;
    }
}

@keyframes pokemon{
    from{
        right:-100px;
    }
    to{
        right:1200px;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }

    25%{
       transform: rotate(-30deg);
    }

    40%{
        transform: rotate(-60deg);
    }
    50%{
        bottom: 200px;
        transform: rotate(-30deg);
    }
    75%{
        bottom: 200px
        transform: rotate(60deg);
    }

    90%{
        transform: rotate(30deg);
    }
    
    
    100%{
        bottom:0;
    }

}