*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{
    background-color: #333;
    text-align: center;
    color: aliceblue;
}

p{
    margin-top: 20px;
}

.info{
    margin: 0 auto;
    background-color: black;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info button{
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    padding: 10px;
}

main{
    background-color: black;
    width: 800px;
    height: 500px;
    border: 1px solid white;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: none;
   margin-top: 10px;
}

.instrucoesPC{
    position: absolute;
    display: flex;
    top: 449px;
    z-index: 3;
    width: 792px;
    justify-content: flex-end;
    text-align: center;
    text-shadow: 3px 2px 7px #000000;
    align-items: center;
    animation: piscando 2s infinite ease-in;
}



.espaco{
    height: 30px;
    background-color: #333;
    border-radius: 5px;
    border: none;
    align-items: center;
    font-size: 10px;
    text-align: center;
    
}
.carregando{
    display: none;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    width: 800px;
    height: 500px;
    z-index: 3;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 50px;
}

.pikaCarregando{

    width: 100px;
}

.textoCarregando{
    font-size: 25px;
    animation: piscando 2s infinite ease-in;
}


.textoCentral{
    display: none;
    font-size: 10vw;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 3;
    text-shadow: 3px 2px 7px #000000;
}

.crescetexto{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 3;
    text-shadow: 3px 2px 7px #000000;
    font-size: 30px;
    animation: crescetexto 2s ease-in-out;
    
}

.imgCentral{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}
.imgCentral img{
    opacity: 0;
    width: 60%;
    animation: fadeout 1s ease-in;
}


.versao{
    position: absolute;
    top:0px;
    left: 20px;
    z-index: 3;
}
.mostraPlacar{
    display: none;
}

.placar{
    position: absolute;
    top:-13px;
    right: 50px;
    z-index: 2;
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
}

.musica{
    
    width: 100px;
    position: absolute;
    top: 4px;
    right: -52px;
    z-index: 3;
}

.pokeballMenu{
    position: absolute;
    top:10px;
    right: 136px;
    z-index: 2;
    width: 50px;
}

.pokeballCaptura{
    position: absolute;
    bottom:0;
    z-index: 2;
    width: 100px;
    animation: pokebola 1.2s linear ;
    display: none;
    transform: rotateY(180deg);
    
}

.bg-inicial{
    position: absolute;
    height: 110%;
    animation: rolafundo 3.6s infinite linear;
    z-index: 1;
    top: -5px;
}


.pikainicio{
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
.pikachu{
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    display:none;
    
}

.jump{
    animation: jump 1s ease-in;
}

.logo{
    width: 600px;
    position: absolute;
    top: 10;
    right: 60px;
    z-index: 2;
}

.pokemon{
    height: 120px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    animation: pokemon 2.9s infinite linear;
    display:none;
}

.fadeout{
    display: none;
    animation: fadeout 1s;
}

.gameover{
    position: absolute;
    top: 100px;
    right: 250px;
    z-index: 2;
    width: 300px;
    opacity: 0;
}

.gameoveranimation{
    animation: gameover 5s;
}
.ending{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    float:left;
}
.ending img{
    
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    opacity: 0.7;
}
.fogos{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 50%;
    z-index: 2;
}

.escureceTela{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.95;
    z-index: 5;
    animation: fadein 10s;
}

.pokemonFinal{
    z-index: 2;
    position: absolute;
    bottom: 10px;
    width: 150px;
    animation: correndo 20s infinite;
    transform: scaleX(-1);
    display: none;
}

.pokemonFinal2{
    z-index: 2;
    position: absolute;
    bottom: 100px;
    width: 150px;
    animation: correndo 20s infinite;
}


.correndoEsq{
    width: 150px;
}

.creditos{
display: none;
position: absolute;
flex-direction: column;
width: 100vw;
height: 100vh;
z-index: 6;
justify-content: center;
align-items: center;
text-align: center;
bottom: 600px;
left: -230px;
animation: creditos 60s;
}

.tecnologias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.tecnologias img{
    width: 100px;
}


#iniciar{
    position: absolute;
    top: 300px;
    right: 350px;
    border: none;
    z-index: 2;
    border-radius: 15px;
    color: black;
    background-color:yellow;
    padding: 15px;
    font-weight: bold;
}


#reiniciar{
    width: 84px;
    position: absolute;
    top: 285px;
    right: 467px;
    border: none;
    z-index: 2;
    display: none;
}

#pokedexBtn{
    width: 72px;
    position: absolute;
    top: 288px;
    right: 253px;
    border: none;
    z-index: 4;
    display: none;
    cursor: pointer;
    
}

#pokedexBtn:hover{
    transform: scale(1.2);
}

#iniciar:hover {
    background-color: #eea71f;
    color: white;
    cursor: pointer;
}

#reiniciar:hover {
    transform: scale(1.2);
}

@keyframes correndo{
    0%{
    left: -200px;
    }
    100%{
        
        left: 1120px;
    }
}

@keyframes creditos{
    0%{
    bottom: -900px;
    }
    100%{
        bottom: 600px;
    }
}


@keyframes fadein{
    0%{
    opacity: 0;
    }
    100%{
        
        opacity: 0.95;
    }
}

@keyframes fadeout{
    0%{
    opacity: 1;
    }
    100%{
        width: 100vw;
        opacity: 0;
    }
}

@keyframes piscando{
    0%{
    opacity: 1;
    }
    50%{
    opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes gameover{
    from{
        opacity: 0;
       
    }
    to{
        opacity: 1;
    }
}

@keyframes rolafundo{
    from{
        right:-1800px;
    }

    to{
        right:-50px;
    }
}

@keyframes pokemon{
    from{
    left: 1200px;
    }
    to{
    left:-200px;
    }
}

@keyframes pokemonLevel2{
    from{
    left: 1200px;
    }
    to{
    left:-600px;
    }
}


@keyframes pokebola{
    from{
    left: 30px;
    }
    to{
    left:-80px;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }

    25%{
       transform: rotate(-60deg);
    }
    30%{
        bottom: 200px;
    }

    
    40%{
        bottom: 150px
        transform: rotate(-90deg);
    }
    
    75%{
        bottom: 100px
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
        bottom:0;
    }

}



@keyframes crescetexto{
    from{
    font-size: 10px;
    }
    to{
    font-size: 30px;
    }
}



@media (max-width: 600px)
{
    .info{
        margin: 0 auto;
        background-color: black;
        width: 100vw;
        height:92vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carregando{
        display: none;
        flex-direction: column;
        margin: 0 auto;
        background-color: black;
        width: 100vw;
        height: 92vh;
        z-index: 3;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 50px;
    }

  main{
    top:-25px;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    display: none;
    margin-top: 10px;
  }

  

.instrucoesMobile{
        position: absolute;
        width: 100vw;
        height: -4vh;
        z-index: 3;
        top: 383px;
        right: -20px;
        font-size: 25px;
        align-items: center;
        display: flex;
        text-shadow: 3px 2px 7px #000000;
        animation: piscando 2s infinite ease-in;
}

.toque{
    width: 100px;
}
    .bg-inicial{
        position: absolute;
        height: 110%;
        animation: rolafundo 6s infinite linear;
        z-index: 1;
        top: -5px;
  }

  
.mostraPlacar{
    display: none;
}

.placar{
    position: absolute;
    top: 129px;
    right: 8px;
    z-index: 2;
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
}

.pokeballMenu{
    position: absolute;
    top: 151px;
    right: 95px;
    z-index: 2;
    width: 50px;
}


.logo{
    position: relative;
    width: 450px;
    z-index: 2;
    margin: 0 auto;
    margin-left: 70px;
}

#iniciar{
    position: relative;
    width: 200px;
    height: 60px;
    top: 278px;
    left: -4px;
    border: none;
    z-index: 2;
    border-radius: 15px;
    color: black;
    background-color:yellow;
    padding: 15px;
    font-weight: bold;
    margin: 0 auto;
}

#reiniciar{
    width: 84px;
    position: absolute;
    top: 433px;
    right: 252px;
    border: none;
    z-index: 3;
    display: none;
}



.musica{
    width: 100px;
    position: absolute;
    top: 60px;
    right: -54px;
    z-index: 3;
}

.gameover{
    position: absolute;
    top: 237px;
    left: 73px;
    z-index: 2;
    width: 250px;
    opacity: 0;
}



.pokemon{
    height: 120px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    //left:1200px;
    animation: pokemon 4s infinite linear;
    display:none;
}

#pokedexBtn{
    width: 72px;
    position: absolute;
    top: 441px;
    right: 46px;
    border: none;
    z-index: 4;
    display: none;
    cursor: pointer;
}

.creditos{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 600px;
    left: 0;
    animation: creditos 60s;
    }

}